<form [formGroup]="form" (ngSubmit)="onSubmit()" class="wellness-check-prompt">
  <div class="wellness-check-prompt__content">
    <div class="wellness-check-prompt__title">
      <p>How are you feeling today?</p>
    </div>
    <div class="wellness-check-prompt__actions">
      <input type="range" min="1" max="10" step="1" formControlName="value" class="slider" id="feelingSlider" (input)="highlightNumber($event)">
      <div class="slider-labels">
        <span *ngFor="let num of numbers" [class.active]="num === currentValue">{{ num }}</span>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </div>
  </div>
</form>
