@if ((jobs$ | async); as jobs) {
    <div class="register-container">
      <div class="register-form">
        <div class="logo">FeelReal</div>
        <h2>Create an Account</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="input-group">
              <input type="text" placeholder="Username" formControlName="username" name="username" />
              <label for="username">Username</label>
            </div>
            <div class="input-group">
              <input type="email" placeholder="Email" formControlName="email" name="email" />
              <label for="email">Email</label>
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <input type="text" placeholder="First name" formControlName="firstName" name="firstName" />
              <label for="firstName">First Name</label>
            </div>
            <div class="input-group">
              <input type="text" placeholder="Last name" formControlName="lastName" name="lastName" />
              <label for="lastName">Last Name</label>
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <input type="password" placeholder="Password" formControlName="password" name="password" />
              <label for="password">Password</label>
            </div>
            <div class="input-group">
              <input type="password" placeholder="Confirm password" formControlName="confirmPassword" name="confirmPassword" />
              <label for="confirmPassword">Confirm Password</label>
            </div>
          </div>
          <div class="form-row">
            <div class="input-group">
              <input type="date" placeholder="Date of birth" formControlName="dateOfBirth" name="dateOfBirth" />
              <label for="dateOfBirth">Date of Birth</label>
            </div>
            <div class="input-group">
              <select formControlName="jobId" class="styled-select" name="jobId">
                <option value="" disabled selected>Occupation</option>
                @for (job of jobs; track $index) {
                <option [value]="job.id">{{ job.name }}</option>
                }
              </select>
              <label for="jobId">Job</label>
            </div>
          </div>
          <button [disabled]="!form.valid" type="submit" class="cta-button">Register</button>
        </form>
      </div>
    </div>
    } @else {
    <div class="loader">Loading...</div>
    }
    