<div class="register-container">
  <form class="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Register</h2>

    <div class="input-group">
      <input type="text" placeholder="Username" formControlName="username" />
    </div>

    <div class="input-group">
      <input type="text" placeholder="Email" formControlName="email" />
    </div>

    <div class="input-group">
      <input type="text" placeholder="First name" formControlName="firstName" />
    </div>

    <div class="input-group">
      <input type="text" placeholder="Last name" formControlName="lastName" />
    </div>

    <div class="input-group">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>

    <div class="input-group">
      <input
        type="password"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
    </div>

    <div class="input-group">
      <select formControlName="jobId">
        <option value="" disabled selected>Occupation</option>
        @for (job of (jobs$ | async); track job) {
        <option [value]="job.id">{{ job.name }}</option>
        }
      </select>
    </div>

    <div class="input-group">
      <input
        type="date"
        placeholder="Date of birth"
        formControlName="dateOfBirth"
      />
    </div>

    <button [disabled]="!form.valid" type="submit">Register</button>
  </form>
</div>
