<div class="login-main">
  <div class="login-container">
    <div class="login-image">
      <img src="../../../../../assets/mental_health_wellness.jpg" alt="Login Image" />
    </div>
    <div class="login-form">
      <div class="logo">FeelReal</div>
      <h2>Login to Your Account</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input type="text" placeholder="Username" formControlName="username" name="username" required />
          <label for="username">Username</label>
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" formControlName="password" name="password" required />
          <label for="password">Password</label>
        </div>
        <button [disabled]="!form.valid" type="submit" class="cta-button">Login</button>
      </form>
      <p>Don't have an account? <a routerLink="/register">Sign up</a></p>
    </div>
  </div>
</div>
